{{ define "title" }}Login{{ end }} {{ define "main" }}
<h1>Login</h1>
<!-- .Key as name attribute required to stop firefox from preserving values through page refresh -->
{{ block "form" . }}
<form
  id="login-form"
  name="{{ .Key }}"
  hx-post="/htmx/api/login"
  hx-target="#login-form"
  hx-swap="outerHTML"
>
  <input
    type="text"
    name="name"
    placeholder="Username..."
    value="{{ .Name }}"
  />
  <input
    type="password"
    name="password"
    placeholder="Password..."
    value="{{ .Password }}"
  />
  <p>{{ .Error }}</p>
  <button type="submit">Login</button>
</form>
{{ end }}
<a href="/htmx/register">Register new account</a>
{{ end }}
