<!-- title -->
{{ define "title" }}Todos{{ end }}
<!-- title end -->
{{ define "nav" }}
<nav class="nav">
    <a href="/htmx/todo-lists">Todo lists</a>
    <a href="#" hx-delete="/htmx/api/logout">Logout</a>
</nav>
{{ end }}
<!-- main -->
{{ define "main" }}
<h1>Todo list: {{ .TodoListName }}</h1>
<!-- .Key as name attribute required to stop firefox from preserving values through page refresh -->
<!-- main.form -->
{{ block "form" . }}
<form
    id="todo-form"
    name="{{ .Key }}"
    hx-post="/htmx/api/todos/add"
    hx-target="#todo-form"
    hx-swap="outerHTML"
>
    <input hidden type="number" name="listId" value="{{ .TodoListId }}" />
    <input
        type="text"
        name="task"
        placeholder="Add task..."
        value="{{ .Task }}"
    />
    <p>{{ .Error }}</p>
    <button type="submit">Add Task</button>
</form>
{{ end }}
<!-- main.form end -->
<!-- main.list -->
{{ block "list" . }}
<div
    class="container"
    id="todos"
    hx-get="/htmx/api/todos/list?listid={{ .TodoListId }}"
    hx-trigger="GetTodos from:body"
    hx-swap="outerHTML"
>
    <!-- main.list.range -->
    {{ range .Todos }}
    <!-- main.list.range.item -->
    {{ block "item" . }}
    <div id="item-{{ .Id }}" class="todo_item">
        <span class="todo_item-task">{{ .Task }}</span>
        <!-- main.list.range.item.if -->
        {{ if .Done }}
        <button
            role="button"
            class="todo_item-toggle"
            hx-patch="/htmx/api/todos/toggle?id={{ .Id }}"
            hx-target="#item-{{ .Id }}"
            hx-swap="outerHTML"
        >
            Mark Undone
        </button>
        <button
            role="button"
            class="secondary"
            hx-delete="/htmx/api/todos/remove?id={{ .Id }}"
            hx-target="#item-{{ .Id }}"
            hx-swap="outerHTML"
        >
            Remove
        </button>
        {{ else }}
        <button
            role="button"
            class="todo_item-toggle outline"
            hx-patch="/htmx/api/todos/toggle?id={{ .Id }}"
            hx-target="#item-{{ .Id }}"
            hx-swap="outerHTML"
        >
            Mark Done
        </button>
        <button disabled role="button" class="secondary outline">Remove</button>
        {{ end }}
        <!-- main.list.range.item.if end -->
    </div>
    {{ end }}
    <!-- main.list.range.item end -->
    {{ end }}
    <!-- main.list.range end -->
</div>
{{ end }}
<!-- main.list end -->
{{ end }}
<!-- main end -->
